<header class="qazaq-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 qazaq-logos">
        <div class="qazaq-logo">
          <a href="/">
            QazaqCinema
          </a>
        </div>
      </div>
      <div class="col-lg-6 qazaq-menu">
        <div class="main-menu">
          <div class="navigation">
            <div class="menu-container">
              <div id="navigation">
                <div id="menu-button"></div>
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="#">Movie</a>
                  </li>
                  <li>
                    <a href="#">TV Shows</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
