<app-header></app-header>
<div class="qazaq-breadcroumb-area">
  <div class="qazaq-breadcroumb-bg">
    <div class="container">
      <div class="qazaq-breadcroumb-inner text-center">
        <h2 class="text-white">{{movie.name}}</h2>
        <span>{{movie.name}}</span>
      </div>
    </div>
  </div>
</div>
<div class="qazaq-inner-page">
  <div *ngIf="pageISReady" class="qazaq-blog-details pt-50">
    <div class="container">
      <div class="qazaq-blog-content">
        <div class="row">
          <div class="col-12">
            <div class="qazaq-product-sidebar">
              <div class="row">
                <div class="col-lg-3">
                  <div class="qazaq-widget">
                    <h2 id="hidden-cat" class="widget-title mb-30 hidden-cat">
                      <span>movie</span>
                    </h2>
                    <div class="qazaq-category catmenu" id="catmenu">
                      <ul>
                        <li><a class="active" href="/">Back</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- <div class="qazaq-widget mb-30 mt-30">
                    <h2 class="widget-title">
                      <span>Catalog</span>
                    </h2>
                  </div>
                  <div class="widget-select-area">
                    <p>
                      <span class="item-title">Genres</span>
                    </p>
                    <div class="dropdown bootstrap-select dropup">
                      <select class="selectpicker">
                        <option [ngClass]="{'selected': genre === showGenre}" (click)="setGenre(genre)" *ngFor="let genre of genres" value="{{genre}}">{{genre}}</option>
                      </select>
                      <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" aria-expanded="false">
                        <div class="filter-option">
                          <div class="filter-option-inner">
                            <div class="filter-option-inner-inner">Genres</div>
                          </div>
                        </div>
                      </button>
                      <div class="dropdown-menu" role="combobox">
                        <div class="inner show" role="listbox" aria-expanded="false">
                          <ul class="dropdown-menu inner show">
                            <li [ngClass]="{'selected': genre === showGenre}" (click)="setGenre(genre)" *ngFor="let genre of genres">
                              <a role="option" class="dropdown-item" aria-disabled="false" aria-selected="false">
                                <span class="text">{{genre}}</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>-->
                  <div class="qazaq-widget">
                    <div class="qazaq-video-list-inner">
                      <h2 class="widget-title mb-30 mt-30">
                        <span>Similar Movie</span>
                      </h2>
                      <app-similar-movie></app-similar-movie>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="qazaq-blog-contents">
                    <div class="qazaq-slider-area slider3">
                      <div class="items">
                        <div class="item">
                          <div class="qazaq-slider-contents gradient">
                            <img src="assets/image/{{movie.img}}" alt="">
                            <div class="qazaq-slider-premium-tag">
                              <span class="c2-bg">movie</span>
                            </div>
                            <div class="qazaq-slide-content">
                              <div class="container">
                                <div class="qazaq-slider-connet">
                                  <a>{{movie.name}}</a>
                                  <div class="qazaq-slide-cat">
                                    <div class="qazaq-meta-info">
                                      <div class="dec-review">
                                        <div class="ratting">
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <a>{{movie.rate}}</a>
                                        </div>
                                        <div class="dec-review-meta">
                                          <ul>
                                            <li>
                                              <span>
                                              Genres   <label>:</label>
                                              </span>
                                              <a>{{movie.genres}}</a>
                                            </li>
                                            <li>
                                              <span>
                                                Length <label>:</label>
                                              </span>
                                              <a>{{movie.length}}</a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="qazaq-blog-dec-content pt-50">
                      <h2>Cast</h2>
                      <div class="qazaq-cast" *ngFor="let cast of castList">
                        <div class="qazaq-cast-img">
                          <img *ngFor="let castImg of cast.image" src="assets/image/actors/{{castImg}}" alt="">
                          <p *ngFor="let castActors of cast.actors">{{ castActors }}</p>
                      </div>
                    </div>
                    <div class="qazaq-blog-dec-content pt-50">
                      <h2>Movie Story</h2>
                      <div class="qazaq-blog-d-p">
                        <p>{{movie.description}}</p>
                        <iframe [src]="videoTrailerURL()" frameborder="0" width="100%" height="600"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
