<div class="qazaq-video-list-items">
  <div class="qazaq-v-list-items mt-30" *ngFor="let movies of movieList">
    <div class="qazaq-v-list-i-img">
      <img src="assets/image/{{movies.img}}" alt="">
    </div>
    <div class="qazaq-v-list-content">
      <div class="qazaq-v-tag c2">
        <span>{{ movies.genres}}</span>
      </div>
      <a [routerLink]="['/movie', movies.id]">{{movies.name}}</a>
      <div class="movie-time">
        <i class="fa fa-clock-o c1"></i>
        <span> {{movies.length}} </span>
      </div>
    </div>
  </div>
</div>
