<div class="row">
  <div class="col-12">
    <h1 class="movie_trailer title">Similar films</h1>
    <div *ngFor="let movies of movieList | similar: showSimilarMovie" [routerLink]="['/movie', movies.id]" class="col-md-2 col-sm-2 col-xs-6 col-lg-2 movie-box">
      <div class="movie-item">
        <div class="movie-poster">
          <img src="./assets/image/{{movies.img}}" alt="">
        </div>
      </div>
      <div class="movie-info">
        <div class="movie-movie-title">{{movies.name}}</div>
        <div class="details">
          <span class="rate">Rate: {{movies.rate}}</span>
          <span class="length">{{movies.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
